h1 {
    color: white;
    background-color: rgba(0, 173, 0, 0.781);
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

.search-list {
    width: 100%;
    margin: 10px;
}

.col-sm {
    flex-grow: 0;
}


#search-area {
    background-color: rgb(209, 204, 204);
    border-color: grey;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
}

.card {
    word-wrap: normal;
}
.save {
    margin-top: 5px;
}

#daily-results {
    border-color: grey;
    border: black;
}

.uv-index-data {
    /* width: 120px; */
    padding-left: 20px;
}
.safeUV {
    background-color:forestgreen;
    color: white;
}

.danger1UV {
    background-color: gold;
    color: white;
}

.danger2UV {
    background: darkorange;
    color: white;
}

.danger3UV {
    background-color: firebrick;
    color: white;
}

.danger4UV {
    background-color: black;
    color: white;
}
/* 
.list-group-item {
    padding: .25rem;
    border: 0;
} */