h1 {
    color: #015249;
    background-color: #77C9D4;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

#previous-cities {
    margin-left: -25px;
    margin-right: -25px;
}

.user-city {
    width: 100%;
}

.search-list {
    width: 100%;
    margin: 10px;
}

.col-sm {
    flex-grow: 0;
}

#wicon {
    padding: 0%;
    padding-left: 1.25rem;
}

#search-area {
    background-color: #015249;
    color: white;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
}

.card {
    word-wrap: normal;
}

.save {
    margin-top: 5px;
}

#daily-results {
    border-color: #EAC67A;
    border: black;
}

.uv-index-data {
    padding-left: 20px;
}

.safeUV {
    background-color:forestgreen;
    color: white;
}

.danger1UV {
    background-color: gold;
    color: white;
}

.danger2UV {
    background: darkorange;
    color: white;
}

.danger3UV {
    background-color: firebrick;
    color: white;
}

.danger4UV {
    background-color: black;
    color: white;
}

/* The cards were set as blue and important through Bootstrap, so I had to Important over them to change the color */
.bg-primary {
    background-color: #57BC90 !important;
}